.main-btn i {
  margin-right: 10px;
  margin-left: 0;
}

.social-list li {
  margin-left: 15px;
  margin-right: 0;
}

.social-list li:last-child {
  margin-left: 0;
}

.topbar-action li {
  margin-left: 20px;
  margin-right: 0;
}

.language-dropdown-menu .dropdown-item img {
  margin-left: 10px;
  margin-right: 0;
}

.language-option button i {
  margin-left: 5px;
  margin-right: 0;
  float: right;
}

.dropdown-toggle::after {
  margin-right: .255em;
  margin-left: 0;
}

.navbar-brand {
  margin-left: 15px;
  margin-right: 0;
}

.main-nav nav .navbar-nav .nav-item a.dropdown-toggle:after {
  margin-right: 8px;
  margin-left: 0;
  position: relative;
  top: -2px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  text-align: right;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item a.dropdown-toggle:after {
  left: 15px;
  right: auto;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
  right: 100%;
  left: auto;
}

.main-nav .navbar-option-list {
  margin-left: 50px;
  margin-right: 0;
}

.main-nav .navbar-option-list li {
  margin-right: 30px;
  margin-left: 0;
}

.main-nav .navbar-option-list li:first-child {
  margin-right: 0;
}

.main-nav .navbar-option-list li .option-badge {
  left: -15px;
  right: auto;
}

.searchbar-close {
  left: 30px;
  right: auto;
}

.booking-search-input-item:first-child {
  border-radius: 0 70px 70px 0;
}

.booking-search-input-item:last-child {
  border-radius: 70px 0 0 70px;
  padding-left: 15px;
  padding-right: 0;
}

.booking-search-input-item:not(:first-child):before {
  right: 0;
  left: auto;
}

.booking-input label i {
  margin-left: 7px;
  margin-right: 0;
}

.booking-search-button .main-btn i {
  margin-right: 0;
}

.card-1-entry {
  right: 15px;
  left: auto;
}

.card-1-entry li {
  margin-left: 10px;
  margin-right: 0;
}

.card-1-entry li:last-child {
  margin-left: 0;
}

.radial-animation-shape {
  right: -17%;
  left: auto;
}

.section-title.section-title-left {
  text-align: right !important;
}

.text-lg-start {
  text-align: right !important;
}

.about-content-texts {
  padding-right: 30px;
  padding-left: 0;
}

.card-2-entry li {
  margin-left: 10px;
  margin-right: 0;
}

.card-2-info h3 {
  padding-left: 10px;
  padding-right: 0;
}

.desk-pad-right-70 {
  padding-left: 70px;
  padding-right: 0;
}

.tour-video-bg {
  border-radius: 20px 0 0 20px;
}

.desk-pad-right-40 {
  padding-left: 40px;
  padding-right: 0;
}

.desk-pad-left-50 {
  padding-right: 50px;
  padding-left: 0;
}

.blog-entry li {
  margin-left: 25px;
  margin-right: 0;
}

.blog-entry li:last-child {
  margin-left: 0;
}

.blog-redirect-link {
  right: 0;
  left: auto;
}

.blog-redirect-link a i {
  margin-right: 10px;
  margin-left: 0;
}

.footer-list li {
  padding-right: 30px;
  padding-left: 0;
}

.footer-list li::before {
  right: 0;
  left: auto;
}

.footer-address li i {
  margin-left: 10px;
  margin-right: 0;
}

.desk-pad-left-70 {
  padding-right: 70px;
  padding-left: 0;
}

.footer-lower-item .social-list {
  margin-right: 15px;
  margin-left: 0;
}

.scroll-top {
  left: 20px;
  right: auto;
}

.destination-card-review .review-star {
  margin-left: 10px;
  margin-right: 0;
}

.destination-card-header h3 {
  padding-left: 10px;
  padding-right: 0;
}

.split-navbar-fixed .booking-search-input-item:first-child .booking-input {
  padding-right: 40px;
  padding-left: 18px;
}

.split-navbar-fixed .booking-search-input-item:last-child .booking-input {
  padding-left: 10px;
  padding-right: 20px;
}

.split-screen-nav-menu .navbar-nav li a.dropdown-toggle:after {
  margin-right: 10px;
  margin-left: 0;
  position: relative;
  top: -4px;
}

.split-screen-nav-menu .navbar-nav li .dropdown-menu {
  text-align: right;
}

.split-screen-nav-menu .navbar-nav li .dropdown-menu li {
  padding-right: 45px;
  padding-left: 0;
}

.split-screen-item-body .section-title {
  text-align: right;
}

.text-xl-start {
  text-align: right !important;
}

.split-screen-item-body .mini-shape-2 {
  left: -60px;
  right: auto;
}

.input-checkbox label {
  padding-right: 35px;
  padding-left: 0;
}

.input-checkbox label:before {
  right: 0;
  left: auto;
  padding-right: 4px;
  padding-left: 0;
}

.split-screen-item-body .mini-shape-4 {
  left: -70px;
  right: auto;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: .5rem;
  padding-right: 0;
}

.breadcrumb .breadcrumb-item {
  padding-right: 0;
  padding-left: .5rem;
}

.about-content-details ul li {
  padding-right: 25px;
  padding-left: 0;
}

.about-content-details ul li::before {
  right: 0;
  left: auto;
}

.accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}

.contact-info-item ul li i {
  margin-left: 5px;
  margin-right: 0;
  float: right;
}

.product-sort-header-item form {
  padding-left: 20px;
  padding-right: 0;
}

.product-sort-header-item .selectize-input {
  padding: 15px 20px 15px 30px;
}

.product-sort-header-item .selectize-input:after {
  left: 15px !important;
  right: auto !important;
}

.desk-pad-left-40 {
  padding-right: 40px;
  padding-left: 0;
}

.product-details-action .cart-quantity {
  margin-left: 15px;
  margin-right: 0;
}

.product-gallery-trigger {
  left: 40px;
  right: auto;
}

.forum-details ul > li {
  padding-right: 25px;
  padding-left: 0;
}

.forum-details ul > li:before {
  right: 0;
  left: auto;
}

.comment-reply-content {
  padding-right: 20px;
  padding-left: 0;
}

.comment-reply-info h4 {
  padding-left: 20px;
  padding-right: 0;
}

.section-button-group .main-btn {
  margin-left: 15px;
  margin-right: 0;
}

.cart-total-item-info .cart-product-number {
  left: -5px;
  right: auto;
}

.details-card-content {
  padding-left: 30px;
  padding-right: 0;
}

.details-card-list-texts {
  padding-right: 200px;
  padding-left: 0;
}

.details-card-list-texts:before {
  right: 0;
  left: auto;
}

.summery-progress-bar {
  margin-left: 13px;
  margin-right: 0;
}

.text-md-start {
  text-align: right !important;
}

.account-avatar-action li {
  margin-left: 10px;
  margin-right: 0;
}

.account-avatar-action li:last-child {
  margin-left: 0;
}

.account-avatar-thumb {
  margin-left: 25px;
  margin-right: 0;
}

.account-setting-button .btn {
  margin-right: 10px;
  margin-left: 0;
}

.account-setting-button .btn:first-child {
  margin-right: 0;
}

.new-counter p:before {
  left: 0;
  right: auto;
}

.sidebar-search .form-input-group {
  padding-left: 15px;
  padding-right: 0;
}

.sidebar-category li a:after {
  left: 15px;
  right: auto;
}

.blog-article-action-item span {
  margin-left: 15px;
  margin-right: 0;
}

.recent-post-item-right .recent-post-content {
  padding-right: 0;
  padding-left: 15px;
  text-align: left;
}

.recent-post-content {
  padding-right: 15px;
  padding-left: 0;
}

.recent-post-item-right {
  text-align: left;
}

.comment-feedback-reply-back {
  padding-right: 80px;
  padding-left: 0;
}

.map-shape.map-shape-1 {
  right: 0;
  left: auto;
}

.map-shape.map-shape-2 {
  left: 0;
  right: auto;
}

/** Responsive Area
==============================**/
@media only screen and (max-width: 767px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .mobile-nav .navbar-option {
    left: 55px;
    right: auto;
  }
  .mobile-nav .navbar-option .navbar-option-list li {
    margin-right: 20px;
    margin-left: 0;
  }
  .mobile-nav .navbar-option .navbar-option-list li:first-child {
    margin-right: 0;
  }
  .mobile-nav .navbar-language button i {
    margin-left: 5px;
    margin-right: 0;
    position: relative;
    top: 2px;
  }
  .mobile-option-dropdown {
    left: -55px;
    right: auto;
  }
  .mobile-search-wrapper.active {
    right: 0;
    left: auto;
  }
  .mobile-booking-search {
    left: 0;
    right: auto;
  }
  .mobile-search-collapse {
    right: -40px;
    left: auto;
    border-radius: 0 5px 5px 0;
  }
  .mobile-search-item label i {
    margin-left: 7px;
    margin-right: 0;
  }
  .mobile-search-close {
    left: 0;
    right: auto;
  }
  .about-content-texts {
    padding-right: 0;
  }
  .desk-pad-right-70 {
    padding-left: 0;
  }
  .desk-pad-left-50 {
    padding-right: 0;
  }
  .desk-pad-left-70 {
    padding-right: 0;
  }
  .text-lg-start {
    text-align: center !important;
  }
  .desk-pad-right-40 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-title.section-title-left {
    text-align: center !important;
  }
  .split-navbar-fixed .mobile-nav .navbar-option .navbar-option-list li {
    margin-right: 20px;
  }
  .split-navbar-fixed .mobile-nav .navbar-option .navbar-option-list li:first-child {
    margin-right: 0;
  }
  .split-navbar-fixed .mobile-nav .navbar-option .navbar-option-list li:last-child {
    margin-left: 22px;
  }
  .offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .details-card-list-texts {
    padding-right: 0;
  }
  .details-card-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .comment-feedback-reply-back {
    padding-right: 0;
  }
  .desk-pad-left-40 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .product-tab-list {
    padding: 0;
  }
  .new-counter p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .mobile-nav .navbar-option {
    left: 55px;
    right: auto;
  }
  .mobile-nav .navbar-option .navbar-option-list li {
    margin-right: 20px;
    margin-left: 0;
  }
  .mobile-nav .navbar-option .navbar-option-list li:first-child {
    margin-right: 0;
  }
  .mobile-nav .navbar-language button i {
    margin-left: 5px;
    margin-right: 0;
    position: relative;
    top: 2px;
  }
  .mobile-option-dropdown {
    left: -55px;
    right: auto;
  }
  .mobile-search-wrapper.active {
    right: 0;
    left: auto;
  }
  .mobile-booking-search {
    left: 0;
    right: auto;
  }
  .mobile-search-collapse {
    right: -40px;
    left: auto;
    border-radius: 0 5px 5px 0;
  }
  .mobile-search-item label i {
    margin-left: 7px;
    margin-right: 0;
  }
  .mobile-search-close {
    left: 0;
    right: auto;
  }
  .about-content-texts {
    padding-right: 0;
  }
  .desk-pad-right-70 {
    padding-left: 0;
  }
  .desk-pad-left-50 {
    padding-right: 0;
  }
  .desk-pad-left-70 {
    padding-right: 0;
  }
  .text-lg-start {
    text-align: center !important;
  }
  .desk-pad-right-40 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-title.section-title-left {
    text-align: center !important;
  }
  .offset-sm-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .details-card-list-texts {
    padding-right: 100px;
  }
  .desk-pad-left-40 {
    padding-right: 0;
  }
  .details-card-content {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .mobile-option-dropdown {
    left: -55px;
    right: auto;
  }
  .mobile-search-wrapper.active {
    right: 0;
    left: auto;
  }
  .mobile-booking-search {
    left: 0;
    right: auto;
  }
  .mobile-search-collapse {
    right: -40px;
    left: auto;
    border-radius: 0 5px 5px 0;
  }
  .mobile-search-item label i {
    margin-left: 7px;
    margin-right: 0;
  }
  .mobile-search-close {
    left: 0;
    right: auto;
  }
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    text-align: left;
    left: 0;
    right: auto;
  }
  .mobile-nav .navbar-option {
    left: 55px;
    right: auto;
  }
  .mobile-nav .navbar-option .navbar-option-list li {
    margin-right: 20px;
    margin-left: 0;
  }
  .mobile-nav .navbar-option .navbar-option-list li:first-child {
    margin-right: 0;
  }
  .mobile-nav .navbar-language button i {
    margin-left: 5px;
    margin-right: 0;
    position: relative;
    top: 2px;
  }
  .mobile-option-dropdown {
    left: -55px;
    right: auto;
  }
  .booking-search-input-item:first-child .booking-input {
    padding-right: 45px;
  }
  .offset-lg-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .details-card .desk-pad-left-40 {
    padding-right: 0;
  }
  .details-card-list-texts {
    padding-right: 100px;
  }
}
/*# sourceMappingURL=rtl.css.map */